In [38]:
#Packages
!pip install keras
!pip install tensorflow
!pip install unidecode

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.metrics import classification_report, ConfusionMatrixDisplay
from sklearn.feature_extraction.text import TfidfVectorizer
import os
import re
from scipy import spatial
from sklearn.manifold import TSNE
import math
import keras
import tensorflow as tf
from unidecode import unidecode
#from keras.preprocessing.text import Tokenizer

Requirement already satisfied: keras in /opt/mamba/lib/python3.11/site-packages (3.2.1)
Requirement already satisfied: absl-py in /opt/mamba/lib/python3.11/site-packages (from keras) (2.1.0)
Requirement already satisfied: numpy in /opt/mamba/lib/python3.11/site-packages (from keras) (1.26.4)
Requirement already satisfied: rich in /opt/mamba/lib/python3.11/site-packages (from keras) (13.7.1)
Requirement already satisfied: namex in /opt/mamba/lib/python3.11/site-packages (from keras) (0.0.8)
Requirement already satisfied: h5py in /opt/mamba/lib/python3.11/site-packages (from keras) (3.11.0)
Requirement already satisfied: optree in /opt/mamba/lib/python3.11/site-packages (from keras) (0.11.0)
Requirement already satisfied: ml-dtypes in /opt/mamba/lib/python3.11/site-packages (from keras) (0.3.2)
Requirement already satisfied: typing-extensions>=4.0.0 in /opt/mamba/lib/python3.11/site-packages (from optree->keras) (4.11.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in /opt/mamba/lib/python3.11/site-packages (from rich->keras) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /opt/mamba/lib/python3.11/site-packages (from rich->keras) (2.17.2)
Requirement already satisfied: mdurl~=0.1 in /opt/mamba/lib/python3.11/site-packages (from markdown-it-py>=2.2.0->rich->keras) (0.1.2)
Requirement already satisfied: tensorflow in /opt/mamba/lib/python3.11/site-packages (2.16.1)
Requirement already satisfied: absl-py>=1.0.0 in /opt/mamba/lib/python3.11/site-packages (from tensorflow) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in /opt/mamba/lib/python3.11/site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in /opt/mamba/lib/python3.11/site-packages (from tensorflow) (24.3.25)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /opt/mamba/lib/python3.11/site-packages (from tensorflow) (0.5.4)
Requirement already satisfied: google-pasta>=0.1.1 in /opt/mamba/lib/python3.11/site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in /opt/mamba/lib/python3.11/site-packages (from tensorflow) (3.11.0)
Requirement already satisfied: libclang>=13.0.0 in /opt/mamba/lib/python3.11/site-packages (from tensorflow) (18.1.1)
Requirement already satisfied: ml-dtypes~=0.3.1 in /opt/mamba/lib/python3.11/site-packages (from tensorflow) (0.3.2)
Requirement already satisfied: opt-einsum>=2.3.2 in /opt/mamba/lib/python3.11/site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: packaging in /opt/mamba/lib/python3.11/site-packages (from tensorflow) (23.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /opt/mamba/lib/python3.11/site-packages (from tensorflow) (4.25.3)
Requirement already satisfied: requests<3,>=2.21.0 in /opt/mamba/lib/python3.11/site-packages (from tensorflow) (2.31.0)
Requirement already satisfied: setuptools in /opt/mamba/lib/python3.11/site-packages (from tensorflow) (69.2.0)
Requirement already satisfied: six>=1.12.0 in /opt/mamba/lib/python3.11/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in /opt/mamba/lib/python3.11/site-packages (from tensorflow) (2.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /opt/mamba/lib/python3.11/site-packages (from tensorflow) (4.11.0)
Requirement already satisfied: wrapt>=1.11.0 in /opt/mamba/lib/python3.11/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /opt/mamba/lib/python3.11/site-packages (from tensorflow) (1.62.1)
Requirement already satisfied: tensorboard<2.17,>=2.16 in /opt/mamba/lib/python3.11/site-packages (from tensorflow) (2.16.2)
Requirement already satisfied: keras>=3.0.0 in /opt/mamba/lib/python3.11/site-packages (from tensorflow) (3.2.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /opt/mamba/lib/python3.11/site-packages (from tensorflow) (0.36.0)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in /opt/mamba/lib/python3.11/site-packages (from tensorflow) (1.26.4)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /opt/mamba/lib/python3.11/site-packages (from astunparse>=1.6.0->tensorflow) (0.43.0)
Requirement already satisfied: rich in /opt/mamba/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow) (13.7.1)
Requirement already satisfied: namex in /opt/mamba/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow) (0.0.8)
Requirement already satisfied: optree in /opt/mamba/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow) (0.11.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/mamba/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/mamba/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/mamba/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in /opt/mamba/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow) (2024.2.2)
Requirement already satisfied: markdown>=2.6.8 in /opt/mamba/lib/python3.11/site-packages (from tensorboard<2.17,>=2.16->tensorflow) (3.6)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /opt/mamba/lib/python3.11/site-packages (from tensorboard<2.17,>=2.16->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /opt/mamba/lib/python3.11/site-packages (from tensorboard<2.17,>=2.16->tensorflow) (3.0.2)
Requirement already satisfied: MarkupSafe>=2.1.1 in /opt/mamba/lib/python3.11/site-packages (from werkzeug>=1.0.1->tensorboard<2.17,>=2.16->tensorflow) (2.1.5)
Requirement already satisfied: markdown-it-py>=2.2.0 in /opt/mamba/lib/python3.11/site-packages (from rich->keras>=3.0.0->tensorflow) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /opt/mamba/lib/python3.11/site-packages (from rich->keras>=3.0.0->tensorflow) (2.17.2)
Requirement already satisfied: mdurl~=0.1 in /opt/mamba/lib/python3.11/site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.0.0->tensorflow) (0.1.2)
Requirement already satisfied: unidecode in /opt/mamba/lib/python3.11/site-packages (1.3.8)

ModuleNotFoundError: No module named 'keras.preprocessing.text'

In [39]:
fichier = "data/firstname_with_sex.csv"
name_sex = pd.read_csv(fichier, sep=';')
name_sex

     firstname     male   female
0        marie    10145  2390322
1         jean  1869615     6476
2       pierre  1475841     5047
3       jeanne     1765  1097397
4     françois  1089009     5951
...        ...      ...      ...
6941   winnocq       10        0
6942     xyste        9        1
6943      zara        0       10
6944  zéraphin       10        0
6945     zimle        0       10

[6946 rows x 3 columns]

In [40]:
fichier2 = "data/transcriptions_with_sex.csv"
transc = pd.read_csv(fichier2)
transc

,subject_line,groundtruth,prediction,sex
0,ebb26ada-044c-4c62-9dbc-a9c8d505d31c,surname: Chardon firstname: Marie occupation: ...,nom: Chardon prénom: Marie date_naissance: 30 ...,femme
1,338496f5-e4ca-43ac-aa5c-429cb3f6ac00,surname: Lhopital firstname: Louis-Jean occupa...,nom: Lhopital prénom: Louis Jean date_naissanc...,homme
2,e6a279da-9b6f-4f49-b498-64857bc50d1e,surname: Papin firstname: Marie occupation: id...,nom: Pyrin prénom: Marie date_naissance: 55 re...,femme
3,7534deca-39e8-4f00-be17-c12460015de1,surname: Lavocat firstname: Marie link: femme ...,nom: Lavocat prénom: Marie date_naissance: 187...,femme
4,ef334a66-a504-418a-9872-e7c9db923488,surname: Benne firstname: Marguerite age: 78,nom: Benne prénom: Marguerite date_naissance: ...,femme
...,...,...,...,...
236,1d92738a-cffe-4aee-ab10-db04c37f7405,surname: Burlurut firstname: Pétronille occupa...,nom: Burlurut prénom: Gihromille date_naissanc...,femme
237,09440055-7972-4135-a537-e6c5a1f2aeb2,surname: Combey firstname: Alexandre occupatio...,nom: Comberf prénom: Alexandre date_naissance:...,homme
238,4d387278-12c3-410c-bdf0-c5c603479764,surname: Collin firstname: Marguerite occupati...,nom: Collin prénom: Marguerite date_naissance:...,femme
239,623b95de-f87c-4844-a7f7-361088eed83a,surname: Dumont firstname: Etienne link: fils ...,nom: Dumont prénom: Etienne date_naissance: 19...,homme
240,26d7839c-16a1-486e-9736-83e500fb72e5,surname: Renaut firstname: Antoinette link: be...,nom: Renaut prénom: Antoinette date_naissance:...,femme

In [84]:
transc.loc[0, 'groundtruth']

'surname: Chardon firstname: Marie occupation: idem link: fille age: 30 '

In [85]:
transc.loc[0, 'prediction']

'nom: Chardon prénom: Marie date_naissance: 30 lieux_naissance: " '

In [41]:
transc['sex'].value_counts()

sex
homme     125
femme     107
ambigu      9
Name: count, dtype: int64

In [42]:
element = transc.at[239, 'groundtruth']
element

'surname: Dumont firstname: Etienne link: fils birth_date: 1900 lob: idem '

In [43]:
element = transc.at[201, 'prediction']
element

'nom: d° prénom: Arthur date_naissance: 2 lieux_naissance: Sp relation: F '

In [44]:
#Convert in character
transc['groundtruth'] = transc['groundtruth'].astype(str)

#We divide by ":"
split = transc['groundtruth'].str.split(":", expand=True)
split

,0,1,2,3,4,5,6,7
0,surname,Chardon firstname,Marie occupation,idem link,fille age,30,None,None
1,surname,Lhopital firstname,Louis-Jean occupation,sp link,chef age,67,None,None
2,surname,Papin firstname,Marie occupation,idem link,idem employer,idem age,15,None
3,surname,Lavocat firstname,Marie link,femme birth_date,1875 lob,Rigny,None,None
4,surname,Benne firstname,Marguerite age,78,None,None,None,None
...,...,...,...,...,...,...,...,...
236,surname,Burlurut firstname,Pétronille occupation,sans profession link,épouse age,61 ans,None,None
237,surname,Combey firstname,Alexandre occupation,idem link,son fils age,39,None,None
238,surname,Collin firstname,Marguerite occupation,idem link,épouse employer,idem age,38,None
239,surname,Dumont firstname,Etienne link,fils birth_date,1900 lob,idem,None,None
240,surname,Renaut firstname,Antoinette link,belle-mère birth_date,1849 lob,Rigny,None,None

I extract column by taking the last words of the column above. I just don't take the last column because it's a value and not the name of a category.

In [45]:
categories = []

for k in range(8):
    # Check if columns are eùpty after column k
    if all(split.iloc[:, j].isnull().all() for j in range(k + 1, 8)):
        break
    
    # If not, add element in the list of categories if it's not already in
    categories += split[k].str.split().str[-1][split.iloc[:, k:].notnull().all(axis=1)].unique().tolist()

categories

['surname',
 'firstname',
 'occupation',
 'link',
 'employer',
 'birth_date',
 'age',
 'lob',
 'civil_status']

In [46]:
#List of columns
colonnes = ['surname', 'firstname', 'occupation', 'link', 'employer', 'birth_date', 'age', 'lob', 'civil_status', 'observation'] #I add observation because it was printed as error. 

#Creation of a dictionary
donnees = {colonne: [] for colonne in colonnes}

#Fill the dictionnary with the elements
for row in transc['groundtruth']:
    #Empty temporary dict in initialisation 
    temp = {colonne: None for colonne in colonnes}
    #Thanks to RegEx, we take expressop,s
    info = re.findall(r'(\w+): (\w+)', row)
    for colonne, valeur in info:
        # We add the corresponding value 
        temp[colonne] = valeur
    #Definitive dict
    for colonne in colonnes:
        donnees[colonne].append(temp[colonne])

# Créer un DataFrame à partir des données extraites
nouvelle_base_man = pd.DataFrame(donnees)
nouvelle_base_man

,surname,firstname,occupation,link,employer,birth_date,age,lob,civil_status,observation
0,Chardon,Marie,idem,fille,None,None,30,None,None,None
1,Lhopital,Louis,sp,chef,None,None,67,None,None,None
2,Papin,Marie,idem,idem,idem,None,15,None,None,None
3,Lavocat,Marie,None,femme,None,1875,None,Rigny,None,None
4,Benne,Marguerite,None,None,None,None,78,None,None,None
...,...,...,...,...,...,...,...,...,...,...
236,Burlurut,Pétronille,sans,épouse,None,None,61,None,None,None
237,Combey,Alexandre,idem,son,None,None,39,None,None,None
238,Collin,Marguerite,idem,épouse,idem,None,38,None,None,None
239,Dumont,Etienne,None,fils,None,1900,None,idem,None,None
240,Renaut,Antoinette,None,belle,None,1849,None,Rigny,None,None

In [47]:
#We do the same for prediction column 
#Convert in character
transc['prediction'] = transc['prediction'].astype(str)

#We divide by ":"
split = transc['prediction'].str.split(":", expand=True)
split

,0,1,2,3,4,5,6,7,8,9
0,nom,Chardon prénom,Marie date_naissance,30 lieux_naissance,"""",None,None,None,None,None
1,nom,Lhopital prénom,Louis Jean date_naissance,67 lieux_naissance,Sn employeur,ahef,None,None,None,None
2,nom,Pyrin prénom,Marie date_naissance,55 relation,d,None,None,None,None,None
3,nom,Lavocat prénom,Marie date_naissance,1875 lieux_naissance,Rigny profession,'',None,None,None,None
4,nom,Benne prénom,Marguerite date_naissance,78 lieux_naissance,id relation,'',None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
236,nom,Burlurut prénom,Gihromille date_naissance,61 lieux_naissance,épouse relation,sans mof,None,None,None,None
237,nom,Comberf prénom,Alexandre date_naissance,59 lieux_naissance,d relation,par profession,fils,None,None,None
238,nom,Collin prénom,Marguerite date_naissance,38 profession,femme profession,patron,None,None,None,None
239,nom,Dumont prénom,Etienne date_naissance,1900 lieux_naissance,id,None,None,None,None,None
240,nom,Renaut prénom,Antoinette date_naissance,1849 lieux_naissance,Rigny relation,belle mère,None,None,None,None

In [48]:
categories = []

for k in range(9):
    # Check if columns are eùpty after column k
    if all(split.iloc[:, j].isnull().all() for j in range(k + 1, 8)):
        break
    
    # If not, add element in the list of categories if it's not already in
    categories += split[k].str.split().str[-1][split.iloc[:, k:].notnull().all(axis=1)].unique().tolist()

categories

['nom',
 'prénom',
 'date_naissance',
 'lieux_naissance',
 'relation',
 'employeur',
 'prénom']

In [49]:
#List of columns
colonnes = ['nom', 'prénom', 'date_naissance', 'lieux_naissance', 'relation', 'employeur'] #Prénom apperaed twice in categories 
#Creation of a dictionary
donnees = {colonne: [] for colonne in colonnes}

#Fill the dictionnary with the elements
for row in transc['prediction']:
    # Initialiser un dictionnaire temporaire pour stocker les informations extraites de chaque ligne
    temp = {colonne: None for colonne in colonnes}
    # Extraire les informations de chaque ligne en utilisant des expressions régulières
    info = re.findall(r'(\w+): (\w+)', row)
    # Parcourir les informations extraites
    for colonne, valeur in info:
        # Ajouter la valeur à la colonne temporaire correspondante
        temp[colonne] = valeur
    # Ajouter les valeurs du dictionnaire temporaire au dictionnaire de données
    for colonne in colonnes:
        donnees[colonne].append(temp[colonne])

# Créer un DataFrame à partir des données extraites
nouvelle_base_aut = pd.DataFrame(donnees)

In [50]:
#Add ID to both database
nouvelle_base_aut['subject_line'] = transc['subject_line']
nouvelle_base_man['subject_line'] = transc['subject_line']
nouvelle_base_man

,surname,firstname,occupation,link,employer,birth_date,age,lob,civil_status,observation,subject_line
0,Chardon,Marie,idem,fille,None,None,30,None,None,None,ebb26ada-044c-4c62-9dbc-a9c8d505d31c
1,Lhopital,Louis,sp,chef,None,None,67,None,None,None,338496f5-e4ca-43ac-aa5c-429cb3f6ac00
2,Papin,Marie,idem,idem,idem,None,15,None,None,None,e6a279da-9b6f-4f49-b498-64857bc50d1e
3,Lavocat,Marie,None,femme,None,1875,None,Rigny,None,None,7534deca-39e8-4f00-be17-c12460015de1
4,Benne,Marguerite,None,None,None,None,78,None,None,None,ef334a66-a504-418a-9872-e7c9db923488
...,...,...,...,...,...,...,...,...,...,...,...
236,Burlurut,Pétronille,sans,épouse,None,None,61,None,None,None,1d92738a-cffe-4aee-ab10-db04c37f7405
237,Combey,Alexandre,idem,son,None,None,39,None,None,None,09440055-7972-4135-a537-e6c5a1f2aeb2
238,Collin,Marguerite,idem,épouse,idem,None,38,None,None,None,4d387278-12c3-410c-bdf0-c5c603479764
239,Dumont,Etienne,None,fils,None,1900,None,idem,None,None,623b95de-f87c-4844-a7f7-361088eed83a
240,Renaut,Antoinette,None,belle,None,1849,None,Rigny,None,None,26d7839c-16a1-486e-9736-83e500fb72e5

In [51]:
#We will merge data base
data =  pd.merge(nouvelle_base_aut, nouvelle_base_man , how='left', on = 'subject_line')
df = pd.merge(data, transc, how = 'left', on = 'subject_line')
df_def = df.drop(['groundtruth', 'prediction'], axis = 1)
df_def

,nom,prénom,date_naissance,lieux_naissance,relation,employeur,subject_line,surname,firstname,occupation,link,employer,birth_date,age,lob,civil_status,observation,sex
0,Chardon,Marie,30,None,None,None,ebb26ada-044c-4c62-9dbc-a9c8d505d31c,Chardon,Marie,idem,fille,None,None,30,None,None,None,femme
1,Lhopital,Louis,67,Sn,None,ahef,338496f5-e4ca-43ac-aa5c-429cb3f6ac00,Lhopital,Louis,sp,chef,None,None,67,None,None,None,homme
2,Pyrin,Marie,55,None,d,None,e6a279da-9b6f-4f49-b498-64857bc50d1e,Papin,Marie,idem,idem,idem,None,15,None,None,None,femme
3,Lavocat,Marie,1875,Rigny,None,None,7534deca-39e8-4f00-be17-c12460015de1,Lavocat,Marie,None,femme,None,1875,None,Rigny,None,None,femme
4,Benne,Marguerite,78,id,None,None,ef334a66-a504-418a-9872-e7c9db923488,Benne,Marguerite,None,None,None,None,78,None,None,None,femme
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,Burlurut,Gihromille,61,épouse,sans,None,1d92738a-cffe-4aee-ab10-db04c37f7405,Burlurut,Pétronille,sans,épouse,None,None,61,None,None,None,femme
237,Comberf,Alexandre,59,d,par,None,09440055-7972-4135-a537-e6c5a1f2aeb2,Combey,Alexandre,idem,son,None,None,39,None,None,None,homme
238,Collin,Marguerite,38,None,None,None,4d387278-12c3-410c-bdf0-c5c603479764,Collin,Marguerite,idem,épouse,idem,None,38,None,None,None,femme
239,Dumont,Etienne,1900,id,None,None,623b95de-f87c-4844-a7f7-361088eed83a,Dumont,Etienne,None,fils,None,1900,None,idem,None,None,homme
240,Renaut,Antoinette,1849,Rigny,belle,None,26d7839c-16a1-486e-9736-83e500fb72e5,Renaut,Antoinette,None,belle,None,1849,None,Rigny,None,None,femme

Now, using the database about the name and the number of times they were gave to each sex, we will calculus a man proportion and a woman proportion for each name and add it to our current database.

In [52]:
#Calculus
name_sex['prob_masc'] = name_sex['male'] / (name_sex['male'] + name_sex['female'])
name_sex['prob_fem'] = name_sex['female'] / (name_sex['male'] + name_sex['female'])
name_sex.head(50)

     firstname     male   female  prob_masc  prob_fem
0        marie    10145  2390322   0.004226  0.995774
1         jean  1869615     6476   0.996548  0.003452
2       pierre  1475841     5047   0.996592  0.003408
3       jeanne     1765  1097397   0.001606  0.998394
4     françois  1089009     5951   0.994565  0.005435
5       joseph   897742     4246   0.995293  0.004707
6         anne     1479   816241   0.001809  0.998191
7   marguerite     1441   813859   0.001767  0.998233
8    catherine     1223   792448   0.001541  0.998459
9        louis   750498     2720   0.996389  0.003611
10   françoise     1153   600167   0.001917  0.998083
11     jacques   585567     2010   0.996579  0.003421
12     antoine   536089     2067   0.996159  0.003841
13     nicolas   408007     1463   0.996427  0.003573
14      louise      681   360914   0.001883  0.998117
15      claude   324134     4830   0.985318  0.014682
16     charles   276133      972   0.996492  0.003508
17   elisabeth      353   224969   0.001567  0.998433
18   madeleine      424   217939   0.001942  0.998058
19      michel   214487      834   0.996127  0.003873
20     etienne   211297      898   0.995768  0.004232
21   guillaume   197634      792   0.996009  0.003991
22    claudine      280   163711   0.001707  0.998293
23       andré   160970      586   0.996373  0.003627
24        yves   156916      544   0.996545  0.003455
25       henri   151366      504   0.996681  0.003319
26  antoinette      326   150155   0.002166  0.997834
27      julien   149634      644   0.995715  0.004285
28        rené   148231      627   0.995788  0.004212
29        rose      372   139480   0.002660  0.997340
30     rosalie      259   139343   0.001855  0.998145
31     auguste   135314      606   0.995541  0.004459
32     georges   125189      446   0.996450  0.003550
33   joséphine      268   123596   0.002164  0.997836
34     thérèse      252   113825   0.002209  0.997791
35    marianne      223   106821   0.002083  0.997917
36       barbe      291   106041   0.002737  0.997263
37        paul   103157      346   0.996657  0.003343
38    augustin    99532      430   0.995698  0.004302
39       jules    97993      420   0.995732  0.004268
40    mathurin    94431      357   0.996234  0.003766
41     suzanne      151    92817   0.001624  0.998376
42   alexandre    90238      413   0.995444  0.004556
43       julie      183    90323   0.002022  0.997978
44     laurent    89819      320   0.996450  0.003550
45      victor    87061      314   0.996406  0.003594
46     perrine      117    86401   0.001352  0.998648
47      eugène    81779      468   0.994310  0.005690
48    victoire      233    81265   0.002859  0.997141
49   dominique    74438     5470   0.931546  0.068454

In [53]:
#We convert firstname in both column without accent and capital letters (We choose first name because we trust more manual recolt) 
name_sex['firstname'] = name_sex['firstname'].astype(str)
name_sex['firstname'] = name_sex['firstname'].apply(lambda x: unidecode(x).lower()) 
df_def['firstname'] = df_def['firstname'].apply(lambda x: unidecode(x).lower() if pd.notna(x) else x)
df_def

,nom,prénom,date_naissance,lieux_naissance,relation,employeur,subject_line,surname,firstname,occupation,link,employer,birth_date,age,lob,civil_status,observation,sex
0,Chardon,Marie,30,None,None,None,ebb26ada-044c-4c62-9dbc-a9c8d505d31c,Chardon,marie,idem,fille,None,None,30,None,None,None,femme
1,Lhopital,Louis,67,Sn,None,ahef,338496f5-e4ca-43ac-aa5c-429cb3f6ac00,Lhopital,louis,sp,chef,None,None,67,None,None,None,homme
2,Pyrin,Marie,55,None,d,None,e6a279da-9b6f-4f49-b498-64857bc50d1e,Papin,marie,idem,idem,idem,None,15,None,None,None,femme
3,Lavocat,Marie,1875,Rigny,None,None,7534deca-39e8-4f00-be17-c12460015de1,Lavocat,marie,None,femme,None,1875,None,Rigny,None,None,femme
4,Benne,Marguerite,78,id,None,None,ef334a66-a504-418a-9872-e7c9db923488,Benne,marguerite,None,None,None,None,78,None,None,None,femme
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,Burlurut,Gihromille,61,épouse,sans,None,1d92738a-cffe-4aee-ab10-db04c37f7405,Burlurut,petronille,sans,épouse,None,None,61,None,None,None,femme
237,Comberf,Alexandre,59,d,par,None,09440055-7972-4135-a537-e6c5a1f2aeb2,Combey,alexandre,idem,son,None,None,39,None,None,None,homme
238,Collin,Marguerite,38,None,None,None,4d387278-12c3-410c-bdf0-c5c603479764,Collin,marguerite,idem,épouse,idem,None,38,None,None,None,femme
239,Dumont,Etienne,1900,id,None,None,623b95de-f87c-4844-a7f7-361088eed83a,Dumont,etienne,None,fils,None,1900,None,idem,None,None,homme
240,Renaut,Antoinette,1849,Rigny,belle,None,26d7839c-16a1-486e-9736-83e500fb72e5,Renaut,antoinette,None,belle,None,1849,None,Rigny,None,None,femme

In [54]:
name_sex_unique = name_sex.drop_duplicates(subset=['firstname'])
probabilities = name_sex_unique.set_index('firstname').to_dict(orient='index')

# We assocy each probability with map
df_def['prob_masc'] = df_def['firstname'].map(lambda x: probabilities[x]['prob_masc'] if x in probabilities else None)
df_def['prob_fem'] = df_def['firstname'].map(lambda x: probabilities[x]['prob_fem'] if x in probabilities else None)

In [55]:
df_def

,nom,prénom,date_naissance,lieux_naissance,relation,employeur,subject_line,surname,firstname,occupation,link,employer,birth_date,age,lob,civil_status,observation,sex,prob_masc,prob_fem
0,Chardon,Marie,30,None,None,None,ebb26ada-044c-4c62-9dbc-a9c8d505d31c,Chardon,marie,idem,fille,None,None,30,None,None,None,femme,0.004226,0.995774
1,Lhopital,Louis,67,Sn,None,ahef,338496f5-e4ca-43ac-aa5c-429cb3f6ac00,Lhopital,louis,sp,chef,None,None,67,None,None,None,homme,0.996389,0.003611
2,Pyrin,Marie,55,None,d,None,e6a279da-9b6f-4f49-b498-64857bc50d1e,Papin,marie,idem,idem,idem,None,15,None,None,None,femme,0.004226,0.995774
3,Lavocat,Marie,1875,Rigny,None,None,7534deca-39e8-4f00-be17-c12460015de1,Lavocat,marie,None,femme,None,1875,None,Rigny,None,None,femme,0.004226,0.995774
4,Benne,Marguerite,78,id,None,None,ef334a66-a504-418a-9872-e7c9db923488,Benne,marguerite,None,None,None,None,78,None,None,None,femme,0.001767,0.998233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,Burlurut,Gihromille,61,épouse,sans,None,1d92738a-cffe-4aee-ab10-db04c37f7405,Burlurut,petronille,sans,épouse,None,None,61,None,None,None,femme,0.002291,0.997709
237,Comberf,Alexandre,59,d,par,None,09440055-7972-4135-a537-e6c5a1f2aeb2,Combey,alexandre,idem,son,None,None,39,None,None,None,homme,0.995444,0.004556
238,Collin,Marguerite,38,None,None,None,4d387278-12c3-410c-bdf0-c5c603479764,Collin,marguerite,idem,épouse,idem,None,38,None,None,None,femme,0.001767,0.998233
239,Dumont,Etienne,1900,id,None,None,623b95de-f87c-4844-a7f7-361088eed83a,Dumont,etienne,None,fils,None,1900,None,idem,None,None,homme,0.995768,0.004232
240,Renaut,Antoinette,1849,Rigny,belle,None,26d7839c-16a1-486e-9736-83e500fb72e5,Renaut,antoinette,None,belle,None,1849,None,Rigny,None,None,femme,0.002166,0.997834

In [56]:
df = df_def.drop(['nom', 'surname', 'date_naissance', 'lieux_naissance',  'subject_line','birth_date', 'age', 'lob'], axis=1)
df

,prénom,relation,employeur,firstname,occupation,link,employer,civil_status,observation,sex,prob_masc,prob_fem
0,Marie,None,None,marie,idem,fille,None,None,None,femme,0.004226,0.995774
1,Louis,None,ahef,louis,sp,chef,None,None,None,homme,0.996389,0.003611
2,Marie,d,None,marie,idem,idem,idem,None,None,femme,0.004226,0.995774
3,Marie,None,None,marie,None,femme,None,None,None,femme,0.004226,0.995774
4,Marguerite,None,None,marguerite,None,None,None,None,None,femme,0.001767,0.998233
...,...,...,...,...,...,...,...,...,...,...,...,...
236,Gihromille,sans,None,petronille,sans,épouse,None,None,None,femme,0.002291,0.997709
237,Alexandre,par,None,alexandre,idem,son,None,None,None,homme,0.995444,0.004556
238,Marguerite,None,None,marguerite,idem,épouse,idem,None,None,femme,0.001767,0.998233
239,Etienne,None,None,etienne,None,fils,None,None,None,homme,0.995768,0.004232
240,Antoinette,belle,None,antoinette,None,belle,None,None,None,femme,0.002166,0.997834

In [60]:
#We remove ambiguous sex
df2 = df[df['sex'] != 'ambigu']

sex
homme    125
femme    107
Name: count, dtype: int64

In [86]:
for colonne in df2.columns:
     df2[colonne] = df2[colonne].apply(lambda x: unidecode(x).lower() if isinstance(x, str) else x) #convert all in lower character to avoid differences by letter case

df2 = df2.drop(['prénom', 'relation', 'employeur'], axis=1)
df2

/tmp/ipykernel_242/3821979482.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[colonne] = df2[colonne].apply(lambda x: unidecode(x).lower() if isinstance(x, str) else x) #convert all in lower character to avoid differences by letter case

,firstname,occupation,link,employer,civil_status,observation,sex,prob_masc,prob_fem
0,marie,idem,fille,None,None,None,femme,0.004226,0.995774
1,louis,sp,chef,None,None,None,homme,0.996389,0.003611
2,marie,idem,idem,idem,None,None,femme,0.004226,0.995774
3,marie,None,femme,None,None,None,femme,0.004226,0.995774
4,marguerite,None,None,None,None,None,femme,0.001767,0.998233
...,...,...,...,...,...,...,...,...,...
236,petronille,sans,epouse,None,None,None,femme,0.002291,0.997709
237,alexandre,idem,son,None,None,None,homme,0.995444,0.004556
238,marguerite,idem,epouse,idem,None,None,femme,0.001767,0.998233
239,etienne,None,fils,None,None,None,homme,0.995768,0.004232
240,antoinette,None,belle,None,None,None,femme,0.002166,0.997834

In [87]:
df2.to_csv('data/base.csv', index=False)

In [88]:
df = pd.read_csv('data/base.csv')
df

,firstname,occupation,link,employer,civil_status,observation,sex,prob_masc,prob_fem
0,marie,idem,fille,NaN,NaN,NaN,femme,0.004226,0.995774
1,louis,sp,chef,NaN,NaN,NaN,homme,0.996389,0.003611
2,marie,idem,idem,idem,NaN,NaN,femme,0.004226,0.995774
3,marie,NaN,femme,NaN,NaN,NaN,femme,0.004226,0.995774
4,marguerite,NaN,NaN,NaN,NaN,NaN,femme,0.001767,0.998233
...,...,...,...,...,...,...,...,...,...
227,petronille,sans,epouse,NaN,NaN,NaN,femme,0.002291,0.997709
228,alexandre,idem,son,NaN,NaN,NaN,homme,0.995444,0.004556
229,marguerite,idem,epouse,idem,NaN,NaN,femme,0.001767,0.998233
230,etienne,NaN,fils,NaN,NaN,NaN,homme,0.995768,0.004232
231,antoinette,NaN,belle,NaN,NaN,NaN,femme,0.002166,0.997834

In [89]:
df.columns

Index(['firstname', 'occupation', 'link', 'employer', 'civil_status',
       'observation', 'sex', 'prob_masc', 'prob_fem'],
      dtype='object')

In [92]:
# Liste des colonnes textuelles que vous souhaitez concaténer
colonnes_a_concatener = ['firstname', 'occupation', 'link',
       'employer', 'civil_status', 'observation']

# Créez une nouvelle colonne 'text_combined' qui concatène les valeurs de toutes les colonnes textuelles
df['text_combined'] = df.apply(lambda row: ' '.join(row[col] for col in colonnes_a_concatener if pd.notna(row[col])), axis=1)
df

,firstname,occupation,link,employer,civil_status,observation,sex,prob_masc,prob_fem,text_combined
0,marie,idem,fille,NaN,NaN,NaN,femme,0.004226,0.995774,marie idem fille
1,louis,sp,chef,NaN,NaN,NaN,homme,0.996389,0.003611,louis sp chef
2,marie,idem,idem,idem,NaN,NaN,femme,0.004226,0.995774,marie idem idem idem
3,marie,NaN,femme,NaN,NaN,NaN,femme,0.004226,0.995774,marie femme
4,marguerite,NaN,NaN,NaN,NaN,NaN,femme,0.001767,0.998233,marguerite
...,...,...,...,...,...,...,...,...,...,...
227,petronille,sans,epouse,NaN,NaN,NaN,femme,0.002291,0.997709,petronille sans epouse
228,alexandre,idem,son,NaN,NaN,NaN,homme,0.995444,0.004556,alexandre idem son
229,marguerite,idem,epouse,idem,NaN,NaN,femme,0.001767,0.998233,marguerite idem epouse idem
230,etienne,NaN,fils,NaN,NaN,NaN,homme,0.995768,0.004232,etienne fils
231,antoinette,NaN,belle,NaN,NaN,NaN,femme,0.002166,0.997834,antoinette belle

In [82]:
from sklearn.compose import ColumnTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X = df[['prob_masc', 'prob_fem', 'text_combined']]
y = df['sex']
        
# Créez un pipeline pour les colonnes textuelles
text_transformer = Pipeline(steps=[
    ('vectorizer', CountVectorizer())  # Vous pouvez spécifier d'autres paramètres de CountVectorizer selon vos besoins
])

ValueError: Found input variables with inconsistent numbers of samples: [1, 185]

In [98]:
df['prof_hf'] = df['prob_masc'] - df['prob_fem']
df
#The idea is that: if the value is near 1, it's masculine. If it's near -1, it's feminine. Near 0, it's ambiguous

,firstname,occupation,link,employer,civil_status,observation,sex,prob_masc,prob_fem,text_combined,prof_hf
0,marie,idem,fille,NaN,NaN,NaN,femme,0.004226,0.995774,marie idem fille,-0.991547
1,louis,sp,chef,NaN,NaN,NaN,homme,0.996389,0.003611,louis sp chef,0.992778
2,marie,idem,idem,idem,NaN,NaN,femme,0.004226,0.995774,marie idem idem idem,-0.991547
3,marie,NaN,femme,NaN,NaN,NaN,femme,0.004226,0.995774,marie femme,-0.991547
4,marguerite,NaN,NaN,NaN,NaN,NaN,femme,0.001767,0.998233,marguerite,-0.996465
...,...,...,...,...,...,...,...,...,...,...,...
227,petronille,sans,epouse,NaN,NaN,NaN,femme,0.002291,0.997709,petronille sans epouse,-0.995419
228,alexandre,idem,son,NaN,NaN,NaN,homme,0.995444,0.004556,alexandre idem son,0.990888
229,marguerite,idem,epouse,idem,NaN,NaN,femme,0.001767,0.998233,marguerite idem epouse idem,-0.996465
230,etienne,NaN,fils,NaN,NaN,NaN,homme,0.995768,0.004232,etienne fils,0.991536
231,antoinette,NaN,belle,NaN,NaN,NaN,femme,0.002166,0.997834,antoinette belle,-0.995667

In [110]:
df_model = df.dropna(subset=['prof_hf'])
df_model['sex'] = df_model['sex'].replace({'homme': 1, 'femme': -1})
df_model

/tmp/ipykernel_242/3043037105.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_model['sex'] = df_model['sex'].replace({'homme': 1, 'femme': -1})
/tmp/ipykernel_242/3043037105.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_model['sex'] = df_model['sex'].replace({'homme': 1, 'femme': -1})

,firstname,occupation,link,employer,civil_status,observation,sex,prob_masc,prob_fem,text_combined,prof_hf
0,marie,idem,fille,NaN,NaN,NaN,-1,0.004226,0.995774,marie idem fille,-0.991547
1,louis,sp,chef,NaN,NaN,NaN,1,0.996389,0.003611,louis sp chef,0.992778
2,marie,idem,idem,idem,NaN,NaN,-1,0.004226,0.995774,marie idem idem idem,-0.991547
3,marie,NaN,femme,NaN,NaN,NaN,-1,0.004226,0.995774,marie femme,-0.991547
4,marguerite,NaN,NaN,NaN,NaN,NaN,-1,0.001767,0.998233,marguerite,-0.996465
...,...,...,...,...,...,...,...,...,...,...,...
227,petronille,sans,epouse,NaN,NaN,NaN,-1,0.002291,0.997709,petronille sans epouse,-0.995419
228,alexandre,idem,son,NaN,NaN,NaN,1,0.995444,0.004556,alexandre idem son,0.990888
229,marguerite,idem,epouse,idem,NaN,NaN,-1,0.001767,0.998233,marguerite idem epouse idem,-0.996465
230,etienne,NaN,fils,NaN,NaN,NaN,1,0.995768,0.004232,etienne fils,0.991536
231,antoinette,NaN,belle,NaN,NaN,NaN,-1,0.002166,0.997834,antoinette belle,-0.995667

In [115]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score, confusion_matrix

# Séparez les caractéristiques (X) et les étiquettes (y)
X = df_model[['prof_hf']] # Caractéristique
y = df_model['sex']  # Étiquette

# Divisez les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Créez et entraînez un modèle de régression linéaire
model = LinearRegression()
model.fit(X_train, y_train)

# Prédisez les étiquettes sur l'ensemble de test
y_pred = model.predict(X_test)

# Évaluez les performances du modèle
# Si vous voulez utiliser une certaine tolérance autour de 0 pour prédire le label, vous pouvez définir une fonction comme suit :
def predict_gender(prob_hf):
    if prob_hf < -0.5:
        return -1
    elif prob_hf > 0.5:
        return 1
    else:
        return 0

y_pred_labels = [predict_gender(prob_hf) for prob_hf in y_pred]

# Calcul de l'accuracy
accuracy = accuracy_score(y_test, y_pred_labels)
print("Accuracy:", accuracy)

Accuracy: 0.9782608695652174

In [55]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2) #Split to allow cross-validation

In [ ]:
embed_size = 128
model = tf.keras.models.Sequential([
    tf.keras.layers.Embedding(vocab_size + num_oov_buckets, embed_size,
                           input_shape=[None]),
    tf.keras.layers.GRU(128, return_sequences=True),
    tf.keras.layers.GRU(128),
    tf.keras.layers.Dense(1, activation="sigmoid")
])
model.compile(loss="binary_crossentropy", optimizer="adam",
              metrics=["accuracy"])
history = model.fit(X_train, epochs=5)

In [31]:
#Implementation of neural net
model = Sequential()
model.add(layers.Dense(units=3, input_shape=[15]))
model.add(layers.Dense(units=64))
model.add(layers.Dense(units=1))

model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(x=x, y=y, epochs=500)

#model.predict